<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
  </head>
  <body>
    <div align=center>
    <h2>Temperature in {{location}} :</h4>
    <h4>It is {{getTemperaturInCelcius temperature}} &deg;C but it feels like {{getTemperaturInCelcius apparentTemperature}} &deg;C</h4>
    <h4>Summary : {{summary}}</h4>
    <h4>Full Location : {{fullAddress}}</h4>
    <p><a href="/">Go Back</a></p>
  </div>
  </body>

</html>
